*{
  box-sizing: border-box;
}

.logo{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  height: 30%;
  margin-top: 30px;
  margin-bottom: 10px;

}

#title{
  color: rgb(0, 255, 0);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}


.body{
  background-image: url("img/background.jpg");
  background-size: cover;
  height: auto;
  width: auto;
}

.container{
  display: block;
  background-color: rgba(0,0,0,0.5);
  border-radius: 2%;
  width: 85%;
  margin: auto;
  padding: 60px;
}


/* navigation buttons top */
.navigation{
  text-align: center;
  background-position: center;
  background-color: rgb(0,255,0);
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}


/* i bottoni prenota */
.button {
  width: auto;
  height: auto;
  margin-top: 10px;
}

.articoli {
  color: white;
  padding: 10px;
}


/* tutti gli articoli */
.nome-articolo {
  color: white;
  font-size: 20px;
}

.indirizzo{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* block treat the element as rectangle */

.stato-carica{
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* progressbar */

.progressbar1{
  display: block;
  width: 35%;
  border: 15px solid orange;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 30px;
}
.progressbar2{
  display: block;
  width: 60%;
  border: 15px solid rgb(0,255,0);
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 30px;
}
.progressbar3{
  display: block;
  width: 15%;
  border: 15px solid red;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 30px;
}
